<footer class="text-center">
  <!-- Footer start-->
  <div
    id="footer-navi"
    class="col-lg-6 col-md-12 text-center w-100 d-flex justify-content-center align-items-center"
  >
    <a class="footer-link mx-3" routerLink="/">HOME</a>
    <span>|</span>
    <a class="footer-link mx-3" routerLink="/stories">STORIES</a>
    <span>|</span>
    <a class="footer-link mx-3" routerLink="/alumni-list">ALUMNI</a>
    <span>|</span>
    <a class="footer-link mx-3" routerLink="/events">EVENTS</a>
    <span>|</span>
    <a class="footer-link mx-3" routerLink="/careers">CAREER</a>
  </div>

  <!-- Footer end-->
  <!-- Copyright start-->
  <div id="copyright" class="text-center w-100">
    © 2020 Copyright:
    <a href="https://codefactory.wien/"
      >Olga T. - Javier C. - Mohammad A. - Lukas L. - Dario D.</a
    >
  </div>
  <!-- Copyright end-->
</footer>
