:root {
  --main: #072c92;
  --second: #da962b;
  --white: #f1f1f1;
  --black: #000f08;
}
body {
  font-family: "Poppins", sans-serif;
}
footer {
  background-color: #072c92;

  border-top: #da962b 5px solid;
}
a {
  color: #f1f1f1;
  text-decoration: none;
}
#footer-navi {
  padding: 30px 0px;
  font-size: 20px;
  height: 120px;
}
#copyright {
  color: #f1f1f1;
  height: 80px;
  padding: 30px 0px;
  background-color: #da962b;
}

.footer-link {
  border-radius: 20px;
  color: #f1f1f1;
  padding: 5px;
}
.footer-link:hover {
  background-color: #da962b;
  color: #072c92;
}
hr {
  min-width: 30px;
  margin: 0;
  color: #f1f1f1;
}
