<div class="header">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#072C92" fill-opacity="1"
        d="M0,64L48,85.3C96,107,192,149,288,154.7C384,160,480,128,576,128C672,128,768,160,864,149.3C960,139,1056,85,1152,96C1248,107,1344,181,1392,218.7L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
      </path>
    </svg>
  </div>
  
<div class="card-container">
    <div class="card u-clearfix">
        <div class="card-body">
            <span class="card-number card-circle subtle">1</span>
            <span class="card-author subtle">{{student.name}}</span>
            <h1>{{student.name}} Story</h1>
            <span class="card-description subtle">{{student.story}}</span>
            <span class="card-tag card-circle subtle">C</span>
        </div>
        <img src="{{student.image}}" alt="" class="card-media" />
    </div>
    <div class="card-shadow"></div>
</div>