<div class="card-container">
  <div class="card u-clearfix">
    <div class="card-body">
      <span class="card-number card-circle subtle">1</span>
      <span class="card-author subtle">{{ student.name }}</span>
      <h1 style="text-transform: capitalize">{{ student.name }} Story</h1>
      <span class="card-description subtle">{{ student.story }}</span>
      <span class="card-tag card-circle subtle">C</span>
    </div>
    <img src="{{ student.image }}" alt="" class="card-media" />
  </div>
  <div class="card-shadow"></div>
</div>
