<div class="container">
    <div *ngIf="alumni">
    
        
        <!-- <div class="card mb-3 " style="max-width: 50rem;">
            <div class="row g-0">
              <div class="col-md-4">
                
                <img src="{{alumni.image}}" class="img-fluid rounded-start info" alt="...">
                
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title">{{alumni.name}}</h4><br>
                  <p>{{alumni.title}}</p>
                  <p>{{alumni.age}} years old</p>
                </div>
                <div class="body-1"><br>
                  <h6>Career:</h6>
                  <p class="card-text">{{alumni.career}}</p>
                  <h6>Achievements: </h6>
                    <p class="card-text">{{alumni.achievements}}</p>
                </div>
              </div>
            </div>
          </div>
</div>
</div> -->

<div class="container-1">
  <div class="container-2">
    <img src="{{alumni.image}}" class="img-1" alt="...">
    <div class="side">
    <h4 class="card-title">{{alumni.name}}</h4><br>
    <p><i>{{alumni.title}}</i></p>
    <p>{{alumni.age}} years old</p>
    </div>
  </div>
  <div class="container-3">
    
                  <h6>Achievements in CodeFactory: </h6>
                    <p class="card-text">{{alumni.achievements}}</p>
                    <h6>Career:</h6>
                  <p class="card-text">{{alumni.career}}</p>
  </div>
</div>
</div>
</div>