.container-1 {
  background-color: #f8f9fb;
  margin: 100px auto;
  width: 80%;
}
.container-2 {
  display: flex;
}
.img-1 {
  width: 300px;
  height: 200px;
}
.side {
  padding: 20px;
}
.container-3 {
  padding: 20px;
}
h5 {
  padding: 5px;
  background-color: #da962b;
}
